.popup {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 0.2s linear, opacity 0.2s linear;
    position: fixed;
    inset: 0;
}


/* @media screen and (max-width: 765px) {
    .popup {
       
        margin-left: 19px;
        margin-right: 19px;
    }
} */