.popup__button-save {
    width: 358px;
    height: 50px;
    background-color: black;
    margin: 0;
    padding: 0;
    margin-top: 48px;
    margin-bottom: 37px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background-repeat: no-repeat;
    border: none;
    transition: opacity 0.2s ease-in;
}

.popup__button-save:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 765px) {
    .popup__button-save {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        padding-left: 22px;
        padding-right: 22px;
        margin-bottom: 25px;
        margin-top: 45px;
    }
}