.page {
    font-family: "Inter", "Arial", "sans-serif";
    background-color: #000000;
    color: white;
    text-rendering: optimizeLegibility;
    min-width: 320px;
    max-width: 1280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 45px 200px 60px 200px;
    padding: 0;
}

@media screen and (max-width: 1276px) {
    .page {
        max-width: 1024px;
        min-width: 1024px;
    }
}

@media screen and (max-width: 1019px) {
    .page {
        max-width: 768px;
        /* min-width: 500px;
        margin: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap; */
    }
}

@media screen and (max-width: 765px) {
    .page {
        max-width: 320px;
        padding: 0;
        margin: 28px 0 36px;
    }
}