.profile {
    display: flex;
    box-sizing: border-box;
    padding-top: 40px;
    max-width: 880px;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1276px) {
    .profile {
        max-width: 928px;
    }
}

@media screen and (max-width: 1019px) {
    .profile {
        max-width: 88%;
    }
}

@media screen and (max-width: 765px) {
    .profile {
        max-width: 282px;
        /* padding: 0; */
        padding-top: 42px;
        /* padding-right: 19px; */
        flex-direction: column;
        /* margin-right: 19px;
        margin-left: 19px; */
    }
}