.popup__button_close {
    width: 32px;
    height: 32px;
    padding: 0;
    margin-bottom: 8px;
    background-image: url(../../../images/close-Icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
    transition: .2s;
    outline: none;
    /* position: absolute;
    top: 40px;
    right: 40px; */
    display: flex;
}