.header {
    max-width: 880px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1276px) {
    .header {}
}

@media screen and (max-width: 1019px) {
    .header {
        max-width: 600px;
    }
}

@media screen and (max-width: 765px) {
    .header {
        width: 320px;
        margin-top: 28px;
        padding: 0;
    }
}