.header {
    max-width: 880px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1276px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 1019px) {
    .header {
        width: 720px;
    }
}

@media screen and (max-width: 765px) {
    .header {
        width: 320px;
    }
}