.content {}

@media screen and (max-width: 1276px) {
    .content {
        max-width: 928px;
    }
}

@media screen and (max-width: 1019px) {
    .content {
        max-width: 720px;
    }
}

@media screen and (max-width: 765px) {
    .content {
        max-width: 320px;
    }
}