.profile__section {
    display: flex;
    align-items: baseline;
}

@media screen and (max-width: 1276px) {
    .profile {}
}

@media screen and (max-width: 1019px) {
    .profile {
        max-width: 600px;
    }
}

@media screen and (max-width: 765px) {
    .profile {
        max-width: 282px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}