.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    padding-bottom: 16px;
    margin: 0;
    padding-right: 18px;
}

@media screen and (max-width: 1276px) {
    .profile__name {}
}

@media screen and (max-width: 1019px) {
    .profile__name {
        font-size: 34px;
        line-height: 33px;
    }
}

@media screen and (max-width: 765px) {
    .profile__name {
        width: 189px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
        padding: 0;
        margin-left: 46px;
    }
}