.popup__button-close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-Icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
    transition: opacity 0.2s ease-in;
    outline: none;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__button-close:hover {
    opacity: 0.8;
    cursor: pointer;
}