.profile__avatar {
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 765px) {
    .profile__avatar {
        padding: 0;
        padding-left: 101px;
        padding-right: 99px;
    }
}