.popup__field {
    max-width: 358px;
    padding: 0;
    padding-top: 54px;
    min-height: 14px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__field:last-of-type {
    padding-top: 30px;
}

@media screen and (max-width: 765px) {
    .popup__field {
        max-width: 238px;
        padding-top: 75px;
    }
}